<h3>Carros registrados</h3>
<ul>
  <% @cars.each do |car| %>
      <li>
        <%= link_to  car.car_model.name, car %>
        <span><%= car.license_plate %></span>
      </li>
  <% end %>
</ul>

<%= link_to  "Registrar novo carro", new_car_path %>