<h3>Alteração de modelo de carro</h3>

<%= render  partial: "form", locals: {car_model: @car_model, 
                                      car_categories: @car_categories, 
                                      manufacturers: @manufacturers} %>