<h3>Modelos de carro</h3>
<ul>
  <% @car_models.each do |car_model| %>
    <li><%= link_to  car_model.name, car_model %></li>  
  <% end %>
</ul> 

  

<%= link_to  "Registrar novo modelo", new_car_model_path %>